<%= simple_form_for(:search_term, url: search_terms_path) do |f| %>
  <% if @search_term.errors.any? %>
    <div id="error_explanation">
      Please enter a product name (i.e. "IPhone 7")
    </div>
  <% end %>

  <%= f.input :value, label: 'Enter a product name' %>
  <%= f.button :submit, 'Search'  %>
<% end %>
